<!DOCTYPE html>
<html>

<head>
<title>Confirmation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/style.css" rel="stylesheet">
<style>
  /* Add a blue text color to links */
a {
    color: dodgerblue;
}    
</style>
</head>
<header>
<a href="/home" style="color:white;">
    <h1>Horizon hotels.com</h1>
</a>   
</header>
<body>
<h1>Our terms and conditions </h1>
<h2>Hotel Rules</h2>
<ul>
<li>
    You must conduct yourself in a reasonable and responsible manner at all times when on Hotel property and must not act in any way which may disturb other guests. If you do not, we may ask you to leave the Hotel and, in that case, you must immediately pay us all sums due.
</li>
<li>
    Smoking is not permitted anywhere on the Estate or in any Hotel rooms. This includes the smoking of e- cigarettes.
</li>
<li>
    We will charge you for any and all damage caused by you to any Hotel property during your stay.
</li>
<li>
    All of the above rules will also apply to members of your party and your guests and you shall be liable for any breach of the above rules by any of them.   
</li>
<li>
    We reserve the right to refuse or cancel any booking without notice.
</li>
</ul>
<h2>Cancellation Policy</h2>
<ul>
<li>
    Booking cancellation before 60 days of booking date does not incur cancellation charges. Booking cancellation between 30 and 60 days of booking date will incur charges up to 50% of booking price. Within 30 days of booking date 100% of booking price will be charged.</li>    
</ul>
<h2>Check-in and Check-out</h2>
<ul>
<li>
    Check-in time is 12:00 PM and check-out time is 12:00 AM.
</li> 
<li>
    If we have agreed and arranged a late check-out, we shall be entitled to charge you at an hourly rate for the additional time from our standard latest check-out time until the time you check-out, and we shall give you details of the hourly rate of that charge when you request a late check- out time.
</li>   
</ul>
<h2>Occupancy</h2>
<ul>
<li>
    Any child under the age of 16 may only stay at the Hotel if accompanied by a parent or guardian who is also staying at the Hotel.
</li>
<li>
    We reserve the right to change your room allocation at any point during your stay for any reason.
</li>    
<li>
    The maximum room occupancy  for each  room is , 1 adult  in  standard, 2 adults  in  doubble room and up  to 6 adults in family room
</li>
</ul>
<h2>Food and drink</h2>
<ul>
<li>
    If you or any of your party or guests have any special dietary requirements, you should inform us of them in advance of your arrival. We will use all reasonable endeavours to accommodate those requirements and, where this is not possible, tell you that we are unable to do so.
</li>    
<li>
    We will tell you times of meals when you arrive.  
</li>
</ul>
<h2>How we use your personal information</h2>
<ul>
<li>
    We will not pass on your information to any third party without your explicit consent.
</li>   
<li>
    We will use your personal information only for the purpose for which it was collected.
</li>    
</ul>
<p>Go  back to 
<a href="/signup">sign up page</a>
</p>
</body>
</html>